<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a61fe3ee-632e-43d7-983b-460cc3994b53/resourceGroups/missionRG/providers/Microsoft.ContainerRegistry/registries/missionreg</ResourceId>
    <ResourceName>missionreg</ResourceName>
    <ResourceGroup>missionRG</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://missionreg.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e5b39e37-ad6a-4291-81f5-3962446e5631</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>